/* zero style */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

html {
	font-size: 16px;
}
body {
	line-height: 1;
}
/**_______dibujo de fondo_______*/
.bg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    filter: hue-rotate(210deg);
    opacity: 0.4;
    z-index: -1;
}
/**_______menu_______*/
.menu img{
    width: 40px;
}
.menu{
    background-color: #fff;
    height: 100%;
    position: fixed;
    width: 80px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
}
/**_______menu media qveris_______*/
@media (max-width: 640px){
    .menu{
        height: 60px;
        width: 100%;
        flex-direction: row;
    }
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 40px;
        width: 100%;
    }
}
